@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Doto:wght@100..900&family=Londrina+Sketch&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Advent+Pro:ital,wght@0,100..900;1,100..900&family=Doto:wght@100..900&family=Londrina+Sketch&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap");
/*=================================== 
#CSS VARIABLES
===================================*/

:root {
  --header-height: 5 rem;

  /*===============
   * Colors
  ===============*/

  --first-color: #222222;
  --first-color-light: #63707e;
  --title-color: #cad1e9;
  --text-color: #434242;
  --bg-color: #f6f6f6;
  --container-color: hsl(0, 0%, 6%);
  --hsla: --hsla(0, 0%, 0%, 0.75);
  --new-color: #373a40;

  /*===============
   * Typography
  ===============*/
  --body-font: "Roboto", sans-serif;
  --second-font: "Roboto", cursive;
  --poppins-font: "poppins";

  --biggest-font-size: clamp(2rem, 1.125rem + 4vw, 4.125rem);
  --bigger-font-size: clamp(1.875rem, 1.3603rem + 2.3529vw, 3.125rem);
  --big-font-size: clamp(1.75rem, 1.4412rem + 1.4118vw, 2.5rem);
  --h1-font-size: 1.875rem;
  --h2-font-size: 1.75rem;
  --h3-font-size: 1.5rem;
  --largest-font-size: 1.375rem;
  --larger-font-size: 1.25rem;
  --large-font-size: 1.125rem;
  --normal-font-size: 1rem;

  --weight-400: 400;
  --weight-500: 500;
  --weight-600: 600;
  --weight-700: 700;

  /*===============
   * Border-radius
  ===============*/

  --radius: 0.5rem;

  /*===============
   * Transition
  ===============*/

  --transition: ease-in-out;
}

* {
  background-color: black;
}
